doctype html
html(lang="en")
      head
          meta(charset="utf-8")
          meta(http-equiv="X-UA-Compatible", content="IE=edge")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          title Vintage Addiction
          link(rel="stylesheet", href="../stylesheets/room.css")
          link(rel="preconnect", href="https://fonts.googleapis.com")
          link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
          link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap", rel="stylesheet")
          link(rel='stylesheet', href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css')
          link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp", crossorigin="anonymous")
          script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
          script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js", integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N", crossorigin="anonymous")


body
    header
        nav.navbar.bg-body-tertiary.fixed-top(style='background-color: #480b97 !important;')
            .container.col-12.col-md-12.col-lg-12.col-xl-12
                a.navbar-brand(href='/')
                    img.logo(src='../images/logo.png')
                a.nav-link(onclick='logOut()' href='/logout')
                    i.fi.fi-br-address-card.white(style='font-size:28px;')
    .container(style='margin-top:130px;')
        .row
            .col
                h1#room.text-center.white #{roomId}
        .row.center.players
            .col-3.text-center
                img#player1Avatar.bradius(style='width:130px;border-radius: 15px;' alt='Player 1 Avatar' src='../#{user.avatar}')
                h3#player1User.text-center.white.p-4(alt='Player 1 User') #{user.username}
                h3.white(alt='scoreuser') score:
            #wrapper-game.col-6.text-center.d-flex.justify-content-center
                #board-game.tabla
                    canvas#11.canvas(onclick='Whitecanvas(1,1)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#21.canvas(onclick='Whitecanvas(2,1)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#31.canvas(onclick='Whitecanvas(3,1)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#41.canvas(onclick='Whitecanvas(4,1)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#12.canvas(onclick='Whitecanvas(1,2)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#22.canvas(onclick='Whitecanvas(2,2)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#32.canvas(onclick='Whitecanvas(3,2)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#42.canvas(onclick='Whitecanvas(4,2)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#13.canvas(onclick='Whitecanvas(1,3)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#23.canvas(onclick='Whitecanvas(2,3)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#33.canvas(onclick='Whitecanvas(3,3)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#43.canvas(onclick='Whitecanvas(4,3)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#14.canvas(onclick='Whitecanvas(1,4)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#24.canvas(onclick='Whitecanvas(2,4)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#34.canvas(onclick='Whitecanvas(3,4)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
                    canvas#44.canvas(onclick='Whitecanvas(4,4)' width='100' height='100' style='border:2px solid #000000; background-image: url("../images/skull-game.png");')
            .col-3.text-center
                //- img#player2Avatar.bradius(src='../#{other.avatar}' style='width: 130px;' alt='Avatar')
                img#player2Avatar.bradius(src='#{other.avatar}' style='width: 130px;' alt='Avatar')

                h3#player2User.text-center.white.p-4(alt='Player 2 User') #{other.username}

                h3.white(alt='scoreotheruser') score:
        h1#no2player.text-center.white.p-4.hidden(alt='no2player') YOUR ENEMY IS NOT IN THE ROOM YET!
        h1#win.text-center.white.p-4(alt='winner') You won!
        h1#lost.text-center.white.p-4(alt='winner') You lost!

block scripts
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="/javascripts/room.js")
    script.
        window.roomId = "#{roomId}"
